:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --text-primary: black;
  --text-secondary: white;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 1s;
  --drawer-color: #363062;
  --sidebar-width: clamp(210px, 22vw, 325px);
  --nav-bg-1: #4d4c7d;
  --nav-color-1: #c9c9c9;
  --nav-color-2: #827397;
  --blue-1: #084c61;
  --avatar: url("https://github.com/MILKPlease.png");
  --avatar2: url("https://github.com/john.png");
  --avatar3: url("https://github.com/luke.png");
  --avatar4: url("https://github.com/paul.png");
  --content-gray: rgb(235, 235, 235);
  --transition-notSidebar: margin-left 0.4s ease-in;
  --transition-sidebar: width 0.4s ease-in;
}

body {
  margin: 0;
}

img {
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
}
/* ----------------------SIDEBAR---------------------- */
#sidebar {
  grid-area: sidebar;
  /* display: grid; */
  background-color: var(--drawer-color);
  width: 5rem;
  position: fixed;
  transition: var(--transition-sidebar);
  overflow: hidden;
  height: 100vh;
}
#sidebar:hover {
  width: var(--sidebar-width);
}
.menuItem > h1 {
  display: none;
  margin-left: 5%;
}
#sidebar:hover > .menuItem > h1 {
  display: flex;
}

#sidebar:hover ~ #header,
#sidebar:hover ~ #main {
  margin-left: calc(var(--sidebar-width) - 5rem);
}

.menuItem {
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menuItem > * {
  cursor: pointer;
}

#sidebar > div:not(:first-child) > * {
  padding: 1vw 0.1vw 0.1vw 0vw;
  font-size: calc(20px + 0.2vw);
  padding-left: 15px;
}

#sidebar > div:not(:first-child) > img {
  width: calc(20px + 0.5vw);
  height: calc(20px + 0.5vh);
}

#sidebar > div:nth-child(8) {
  padding-top: 50px;
}

.dashboard {
  font-size: 1.2rem;
}

.dashboard img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(40px + 0.7vw);
  height: calc(40px + 0.7vw);
  padding-left: 10px;
  padding-top: 10;
}
/* ----------------------HEADER----------------------- */
#header {
  grid-area: header;
  transition: var(--transition-notSidebar);
  background-color: var(--nav-bg-1);
  padding: 1.5rem 3rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
}

.topHeader {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
}

.search {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

.search > input {
  display: inline-block;
  border: 0;
  background-color: var(--nav-color-1);
  padding: 0.75rem 2rem;
  outline-color: var(--blue-1);
  margin-left: 1.25rem;
  border-radius: 5px;
  width: min(80%, 650px);
  margin-right: 20px;
}

#header .account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.avatar {
  background: var(--avatar) center center / cover no-repeat;
  border-radius: 50%;
}

.account .avatar {
  margin: 0 1rem 0 2.5rem;
  height: 40px;
  width: 40px;
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile .avatar {
  width: 75px;
  height: 75px;
}

.greeting {
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.profile .name {
  font-size: 1.6rem;
  font-weight: 800;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--drawer-color);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn:disabled {
  cursor: default;
}

.btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
/*---------------------- MAIN------------------------ */
#main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1 fr;
  gap: 2rem;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  background-color: #e9d5ca;
  transition: var(--transition-notSidebar);
  padding: 2rem;
  overflow: auto;
  height: 100%;
}

#main h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
/* PROJECTS */
.projects {
  grid-area: projects;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 250px;
  gap: 2rem;
  padding-bottom: 2rem;
}

.projects .card {
  background-color: var(--nav-color-2);
  border-left: 10px solid rgba(255, 166, 0, 0.689);
  display: flex;
  flex-direction: column;
  color: var(--nav-color-1);
}

.projects .cardTitle {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.projects .cardText {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects .icons {
  margin-top: auto;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 5px;
  padding-right: 5px;
}

.card {
  background-color: #4d4c7d;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0 / 0.1), 0 4px 6px -4;
  max-width: 30vw;
  color: var(--nav-color-1);
}

.announcements {
  grid-area: announcements;
}

.announcement {
  width: 25ch;
  padding: 1rem 0;
}

.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  padding-bottom: 0;
}

.announcement h5 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.announcement p {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.announcement + .announcement {
  border-top: rgba(128, 128, 128, 0.618) 1px solid;
}

.trending {
  grid-area: trending;
}

.trending .card {
  padding: 1.5rem;
}

.trend {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.trend + .trend {
  margin-top: 1.5rem;
}

.trend .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
}

.trend .username {
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.trend1 .avatar2 {
  background: var(--avatar2) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend2 .avatar {
  background: var(--avatar) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend3 .avatar3 {
  background: var(--avatar3) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.trend4 .avatar4 {
  background: var(--avatar4) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
